@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: Outfit;
  color: #000;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  border-radius: 12px;
  border: 1px solid #000;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}
@media (any-hover: hover) {
  .button:hover {
    background: #011640;
    color: #fff;
    border-color: transparent;
  }
}
.button-blue {
  border-color: transparent;
  background: #011640;
  color: #fff;
}
@media (any-hover: hover) {
  .button-blue:hover {
    background: #fff;
    color: #000;
    border-color: #000;
  }
}
.button-black {
  border-color: transparent;
  background: #000;
  color: #fff;
}
@media (any-hover: hover) {
  .button-black:hover {
    background: transparent;
  }
}

.star {
  fill: #2a52a1;
  -webkit-transform: rotate(29deg);
      -ms-transform: rotate(29deg);
          transform: rotate(29deg);
}
.star-medium {
  height: 197px;
  width: 197px;
}
@media (max-width: 1170px) {
  .star-medium {
    height: calc(50px + 147 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .star-medium {
    width: calc(50px + 147 * (100vw - 320px) / 850);
  }
}
.star-big {
  height: 500px;
  width: 500px;
}
@media (max-width: 1170px) {
  .star-big {
    height: calc(200px + 300 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .star-big {
    width: calc(200px + 300 * (100vw - 320px) / 850);
  }
}

.header {
  padding: 25px 0;
  position: relative;
  z-index: 100;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
@media (min-width: 767.98px) {
  .header::after {
    display: none;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1335px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
  z-index: 2;
  margin-right: auto;
  max-width: 228px;
}
.header__logo img {
  max-width: 100%;
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 2;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.75;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid #1c1e53;
  color: #1c1e53;
  margin-left: 96px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__button:hover {
    color: #fff;
    background: #1c1e53;
  }
}
@media (max-width: 991.98px) {
  .header__button {
    padding: 16px 20px;
    margin-left: 30px;
  }
}
@media (max-width: 767.98px) {
  .header__button {
    padding: 10px;
    margin-left: 20px;
  }
}
.header__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger._active span {
  width: 0;
}
.header__burger._active::before {
  top: 9px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
.header__burger._active::after {
  bottom: 9px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 2px;
  background: #1c1e53;
}
.header__burger::after, .header__burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background: #1c1e53;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
  }
}

@media (max-width: 767.98px) {
  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    overflow: auto;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 0;
  }
  .menu-header._active {
    left: 0;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
  row-gap: 15px;
  padding-left: 30px;
}
@media (max-width: 991.98px) {
  .menu-header__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 110px 0px 30px 20px;
    font-size: 30px;
  }
}
.menu-header__link {
  font-weight: 600;
  color: #000;
  font-family: Plus Jakarta Sans;
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    text-decoration: underline;
  }
}

.hero-section {
  margin-top: 30px;
  padding-bottom: 172px;
}
@media (max-width: 1170px) {
  .hero-section {
    padding-bottom: calc(50px + 122 * (100vw - 320px) / 850);
  }
}

.info-hero-section {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 122px;
}
@media (max-width: 1170px) {
  .info-hero-section {
    margin-bottom: calc(50px + 72 * (100vw - 320px) / 850);
  }
}
.info-hero-section__title {
  font-weight: 700;
  line-height: 1.26; /* 126.667% */
  letter-spacing: 0.5px;
  font-size: 60px;
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .info-hero-section__title {
    font-size: calc(30px + 30 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .info-hero-section__title {
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 850);
  }
}
.info-hero-section__subtitle {
  line-height: 1.68;
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .info-hero-section__subtitle {
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 850);
  }
}
.info-hero-section__buttons {
  max-width: 510px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  gap: 80px;
}
@media (max-width: 1170px) {
  .info-hero-section__buttons {
    gap: calc(0px + 80 * (100vw - 320px) / 850);
  }
}
@media (max-width: 550px) {
  .info-hero-section__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.info-hero-section__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 12px 20px;
}
@media (max-width: 550px) {
  .info-hero-section__button {
    width: 100%;
  }
}

.swiper-hero-section {
  max-width: 1060px;
  margin: 0 auto;
}
.swiper-hero-section__slide {
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-hero-section__slide img {
  max-width: 100%;
}
.swiper-hero-section__pagination.swiper-pagination {
  margin-top: 37px;
  position: static;
}
@media (max-width: 1170px) {
  .swiper-hero-section__pagination.swiper-pagination {
    margin-top: calc(15px + 22 * (100vw - 320px) / 850);
  }
}
.swiper-hero-section__pagination.swiper-pagination .swiper-pagination-bullet-active {
  background: #d9d9d9;
}
.swiper-hero-section__pagination.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background: #574b4b;
}
@media (max-width: 1170px) {
  .swiper-hero-section__pagination.swiper-pagination .swiper-pagination-bullet {
    width: calc(10px + 9 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .swiper-hero-section__pagination.swiper-pagination .swiper-pagination-bullet {
    height: calc(10px + 9 * (100vw - 320px) / 850);
  }
}

.solutions {
  background: #011640;
  color: #fff;
}
.solutions__container {
  padding-top: 93px;
  padding-bottom: 171px;
  position: relative;
}
@media (max-width: 1170px) {
  .solutions__container {
    padding-top: calc(40px + 53 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .solutions__container {
    padding-bottom: calc(40px + 131 * (100vw - 320px) / 850);
  }
}
.solutions__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.solutions__decor-item {
  position: absolute;
}
.solutions__decor-item-top {
  top: 3.5%;
  left: 0%;
}
@media (min-width: 991.98px) {
  .solutions__decor-item-top {
    left: -5%;
  }
}
.solutions__decor-item-bottom {
  bottom: 0;
  right: 0;
}
@media (min-width: 991.98px) {
  .solutions__decor-item-bottom {
    bottom: 15%;
    right: -8%;
  }
}
.solutions__title {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin: 0 auto;
  margin-bottom: 122px;
  max-width: 625px;
}
@media (max-width: 1170px) {
  .solutions__title {
    font-size: calc(28px + 12 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .solutions__title {
    margin-bottom: calc(30px + 92 * (100vw - 320px) / 850);
  }
}
.solutions__items {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 767.98px) {
  .solutions__items {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
    row-gap: 110px;
  }
}
@media (min-width: 767.98px) and (max-width: 1170px) {
  .solutions__items {
    -webkit-column-gap: calc(30px + 40 * (100vw - 320px) / 850);
       -moz-column-gap: calc(30px + 40 * (100vw - 320px) / 850);
            column-gap: calc(30px + 40 * (100vw - 320px) / 850);
  }
}
@media (min-width: 767.98px) and (max-width: 1170px) {
  .solutions__items {
    row-gap: calc(30px + 80 * (100vw - 320px) / 850);
  }
}
.solutions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  padding: 30px 20px;
  border-radius: 12px;
  background: #292c3c;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 767.98px) {
  .solutions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 325px;
            flex: 0 0 325px;
    padding: 59px 20px 95px;
  }
}
@media (min-width: 570px) and (max-width: 767.98px) {
  .solutions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
}
.solutions__label {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.25; /* 120% */
}
@media (max-width: 1170px) {
  .solutions__label {
    font-size: calc(20px + 4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .solutions__label {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 850);
  }
}
.solutions__text {
  margin-bottom: 45px;
  font-weight: 500;
  color: #6e717e;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1170px) {
  .solutions__text {
    margin-bottom: calc(30px + 15 * (100vw - 320px) / 850);
  }
}
.solutions__button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .solutions__button:hover {
    text-decoration: none;
  }
}

.services {
  padding-top: 157px;
  padding-bottom: 125px;
}
@media (max-width: 1170px) {
  .services {
    padding-top: calc(40px + 117 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .services {
    padding-bottom: calc(40px + 85 * (100vw - 320px) / 850);
  }
}
.services__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin: 0 auto;
  margin-bottom: 165px;
  max-width: 625px;
}
@media (max-width: 1170px) {
  .services__title {
    font-size: calc(28px + 12 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .services__title {
    margin-bottom: calc(30px + 135 * (100vw - 320px) / 850);
  }
}
.services__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media (max-width: 1170px) {
  .services__rows {
    gap: calc(40px + 10 * (100vw - 320px) / 850);
  }
}
@media (min-width: 991.98px) {
  .services__rows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.services__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.services__item:not(:last-child) {
  margin-bottom: 34px;
}
.services__icon {
  height: 90px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-radius: 21.472px;
  background: #011640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 767.98px) {
  .services__info {
    max-width: 286px;
  }
}
.services__label {
  font-size: 21.5px;
  font-weight: 500;
  line-height: 1.25;
}
.services__text {
  font-weight: 500;
  color: #666;
}
.services__image {
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__image img {
  max-width: 100%;
}

.consultation {
  background: #011640;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1170px) {
  .consultation {
    padding-top: calc(40px + 60 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .consultation {
    padding-bottom: calc(40px + 60 * (100vw - 320px) / 850);
  }
}
.consultation__decor {
  position: absolute;
  top: 24%;
  right: -9.5%;
}
.consultation__container {
  position: relative;
  z-index: 2;
}
.consultation__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: -0.64px;
  max-width: 485px;
}
@media (max-width: 1170px) {
  .consultation__title {
    font-size: calc(28px + 4 * (100vw - 320px) / 850);
  }
}
.consultation__title:not(:last-child) {
  margin-bottom: 24px;
}
.consultation__text {
  color: #788192;
  font-weight: 500;
  margin-bottom: 50px;
  max-width: 590px;
}
@media (max-width: 1170px) {
  .consultation__text {
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 850);
  }
}
.consultation__button {
  padding: 12px 35px;
  display: inline-block;
}

.footer {
  background: #d9dcdf;
}
.footer__container {
  padding-bottom: 120px;
  padding-top: 90px;
}
@media (max-width: 1170px) {
  .footer__container {
    padding-bottom: calc(30px + 90 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .footer__container {
    padding-top: calc(30px + 60 * (100vw - 320px) / 850);
  }
}
.footer__title {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 47px;
}
@media (max-width: 1170px) {
  .footer__title {
    font-size: calc(18px + 2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .footer__title {
    margin-bottom: calc(30px + 17 * (100vw - 320px) / 850);
  }
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
  row-gap: 50px;
}
@media (max-width: 1170px) {
  .footer__items {
    row-gap: calc(30px + 20 * (100vw - 320px) / 850);
  }
}
@media (min-width: 991.98px) {
  .footer__items {
    -webkit-column-gap: 200px;
       -moz-column-gap: 200px;
            column-gap: 200px;
  }
}
@media (max-width: 500px) {
  .footer__items {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.menu-footer__title {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #94a3b8;
  margin-bottom: 30px;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1170px) {
  .menu-footer__item:not(:last-child) {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 850);
  }
}
.menu-footer__link {
  font-weight: 500;
  color: #000;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.form-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: Poppins;
  max-width: 456px;
}
.form-footer__input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  margin-bottom: 12px;
}
.form-footer__button {
  display: block;
  width: 100%;
  background: #011640;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  border: 1px solid transparent;
}
@media (any-hover: hover) {
  .form-footer__button:hover {
    background: transparent;
    color: #000;
    border-color: #000;
  }
}

.bottom-footer {
  max-width: 1335px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 30px;
}
@media (max-width: 1170px) {
  .bottom-footer {
    padding-top: calc(20px + 25 * (100vw - 320px) / 850);
  }
}
@media (max-width: 1170px) {
  .bottom-footer {
    padding-bottom: calc(20px + 25 * (100vw - 320px) / 850);
  }
}
@media (max-width: 500px) {
  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.bottom-footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media (max-width: 1170px) {
  .bottom-footer__social-icons {
    gap: calc(15px + 10 * (100vw - 320px) / 850);
  }
}
.bottom-footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .bottom-footer__social-icon:hover {
    opacity: 0.7;
  }
}
.bottom-footer__logo img {
  max-width: 100%;
}